<h2>所有資料</h2>

<ul>
    <% todos.forEach(function(todo) { %>
        <li><a href='/todo/<%= todo.id %>'><%= todo.id %>: <%= todo.title %></a></li>
    <% }); %>
</ul>
<form name="form" method="POST" action="/">
        <input name="title" placeholder="姓名"/>
        <input id="send" type="submit" value="送出">

</form>