<!DOCTYPE html>

<html lang="en">


<% include head %>


    <body>
        <div class="wrapper">
            <header class="header">
                <p>
                    <%= user %>
                </p>
            </header>
            <section class="main">
                <div class="navbar"></div>

            </section>

            <footer>
            </footer>

        </div>

    </body>