<!DOCTYPE html>

<html lang="en">


<% include head %>


    <body>
        <div class="wrapper">
            <header class="header">
                <h2>Todo List</h2>
                <a href="/logout">登出</a>
            </header>
            <section class="main">
                <div class="display">
                    <ul class="list">
                        <% todos.forEach(function(todo) { %>
                            <li class="list--item">
                                <p>
                                    <%= todo.id %>
                                </p>
                                <p>
                                    <%= todo.title %>
                                </p>
                                <div class="btn-delete" data-id="<%= todo.id %>">刪除</div>

                            </li>
                            <% }); %>
                    </ul>
                </div>
                <div class="form">
                    <form class="inner" name="form" method="POST" action="/task">
                        <input class="input" name="title" placeholder="待辦事項" />
                        <input class="btn" type="submit" value="+">
                    </form>
                </div>

            </section>

            <footer>
            </footer>

        </div>
        <script src="/public/js/main.js"></script>
    </body>