<!DOCTYPE html>

<html lang="en">


<% include head %>


    <body>
        <a class="wrapper">
            <header class="header">
                <h2>Login</h2>
            </header>
            <section class="main">

                <div class="form">
                    <form class="inner login" name="form" method="POST" action="/signin">
                        <input class="input" name="username" placeholder="待辦事項" />
                        <input class="input" name="password" placeholder="待辦事項" />
                        <div class="btns">
                            <div class="btn login signup">註冊</div>
                            <!-- <a href="/signup" class="btn login">刪除 -->
                            <input class="btn login action" type="submit" value="登入">

                        </div>



                    </form>
                </div>

            </section>

            <footer>
            </footer>

            </div>
            <script src="/public/js/main.js"></script>
    </body>