<!DOCTYPE html>

<html lang="en">


<% include head %>


    <body>
        <div class="wrapper">
            <header class="header">
                <h2>Todo List</h2>
            </header>
            <section class="main">

                <div class="form ">
                    <form class="inner login" name="form" method="POST" action="/">
                        <input class="input" name="title" placeholder="待辦事項" />
                        <input class="input" name="title" placeholder="待辦事項" />
                        <div class="btns">

                            <input class="btn login" type="submit" value="註冊">
                            <input class="btn login" type="submit" value="登入">
                            <input class="btn login" type="submit" value="登入">

                        </div>



                    </form>
                </div>

            </section>

            <footer>
            </footer>

        </div>
        <script src="/public/js/main.js"></script>
    </body>