<!DOCTYPE html>

<html lang="en">


<% include head %>


    <body>
        <div class="wrapper">
            <% include header %>

                <section class="main page">
                        <div class="context">
                            <div class="image">
                                <img src="/public/upload/<%- data.upload %>" alt="">
                            </div>
                            <div class="text">
                                <h2>
                                    <%= data.name %>
                                </h2>
                                <p>
                                    <%= data.time %>
                                </p>
                                
                                    <%- data.context %>
                                
                            </div>
                        </div>



                </section>


        </div>
        <script src="/public/js/index.js"></script>
    </body>