<!DOCTYPE html>

<html lang="en">


<% include head %>


    <body>
        <div class="wrapper">
            <header class="header">
                <h2>Signup</h2>
            </header>
            <section class="main">

                <div class="form">
                    <form class="inner login" name="form" method="POST" action="/signup">
                        <input class="input" name="username" placeholder="帳號" />
                        <input class="input" name="password" type="password" placeholder="密碼" />
                        <div class="btns">
                            <input class="btn login action" type="submit" value="註冊">

                        </div>



                    </form>
                </div>

            </section>

            <footer>
            </footer>

        </div>
        <script src="/public/js/main.js"></script>
    </body>