/*-------------------------*/

/* $Catalog 
---------------------------*/

/** 
 * Globel
 * Elements
 * Header
 * About
 * Footer
**/

/*-------------------------*/

/* $Globel
---------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@mixin size($w,
$h) {
    width: $w;
    height: $h;
}

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

@mixin flexLeft() {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

$color-primary:#3d99f0;
$color-secondary:rgb(154,
194,
199);
$color-bg:#F5F5F5;
$color-white:#F5F3F4;
$block:#73B2BD;
$dashboardNav:#31363a;
* {
    box-sizing: border-box;
    color: $block;
}

body,
html {
    @include size(100%,
    100%);
    background-color: $color-bg;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    transition: all .5s;
}

/*-------------------------*/

/* $main
---------------------------*/

.dashboard {
    @include size(100%,
    100%);
    display: grid;
    grid-template-rows: 20% auto 5%;
    grid-template-columns: 20% auto 5%;
    grid-template-areas: "a b b" "a b b" "a c c";
    .header {
        grid-area: a;
        background-color: $dashboardNav;
        outline: #31363a 1px solid;
        @include flexCenter();
        justify-content: flex-start;

        ul {
            cursor: pointer;
            padding: 8px;
            .item {
                // display: none;
                padding-left: 8px;
                li{
                    margin: 8px;
                }
            }
            .item--open{
                @include flexCenter();
            }
        }
    }
    .main {
        grid-area: b;
        // background-color: $color-primary;
        outline: #31363a 1px solid;
        border: #31363a 1px solid;
        color: #31363a;
    }
    .footer {
        grid-area: c;
        background-color: #73B2BD;
        outline: #31363a 1px solid;
    }
}
