/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * About
 * Footer
**/
/*-------------------------*/
/* $Globel
---------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
* {
  box-sizing: border-box;
  color: #73B2BD;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  resize: none;
  display: inline-block;
  border: 0px solid white;
  background-color: white;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input:focus,
textarea:focus {
  outline: 0;
  border: #9ac2c7 1px solid;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9aa4ac;
  font-size: 0.8rem;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
  transition: background-color .5s;
}

.btn:hover {
  background-color: #73B2BD;
  color: #F5F3F4;
}

/*-------------------------*/
/* $dashboard
---------------------------*/
.dashboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% auto 5%;
  grid-template-columns: 30% auto 5%;
  grid-template-areas: "a b b" "a b b" "a c c";
}

.dashboard .header {
  width: 100%;
  height: 100%;
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  justify-content: flex-start;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  transition: all .3s;
}

.dashboard .header .nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #434446;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.1rem;
  padding: 16px;
}

.dashboard .header .nav p {
  color: #F5F3F4;
  padding: 8px;
}

.dashboard .header .list {
  margin-top: 16px;
  padding: 16px;
  font-size: 1rem;
}

.dashboard .header .list ul {
  cursor: pointer;
  margin: 8px;
  margin-bottom: 16px;
  color: #434446;
}

.dashboard .header .list ul .item {
  display: none;
}

.dashboard .header .list ul .item li {
  font-size: 0.9rem;
  color: #73B2BD;
  margin: 8px;
}

.dashboard .header .list ul .item a:nth-child(1) {
  margin-top: 12px;
}

.dashboard .header .list ul .item li:hover {
  color: #4e575f;
}

.dashboard .header .list ul .item--open {
  display: flex;
  flex-flow: column wrap;
}

.dashboard .main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  grid-area: b;
  color: #31363a;
  margin: 16px;
}

.dashboard .main form {
  display: flex;
  flex-flow: column wrap;
}

.dashboard .main form input,
.dashboard .main form textarea {
  margin: 8px;
  padding: 8px;
  line-height: 1.5rem;
}

.dashboard .main form label {
  margin-left: 8px;
  padding-left: 8px;
  margin-top: 8px;
}

.dashboard .main .list {
  display: flex;
  flex-flow: column wrap;
}

.dashboard .main .list .list--item {
  border: 1px #9ac2c7 solid;
  border-radius: 20px;
  margin: 16px;
  padding: 32px;
}

.dashboard .main .list .list--item label,
.dashboard .main .list .list--item input,
.dashboard .main .list .list--item a {
  padding: 8px;
}

.dashboard .main .list .list--item a:hover {
  color: #4e575f;
}

.dashboard .footer {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border-top: #b8d8de 1px solid;
  font-size: 0.8rem;
}

.dashboard .footer p {
  color: #b8d8de;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.login h2 {
  margin-bottom: 16px;
}

.login .main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 30%;
  height: 30%;
  min-width: 500px;
  background: -webkit-linear-gradient(top, #88c1cb 0%, rgba(179, 213, 219, 0.91) 88%, rgba(196, 214, 216, 0.9) 99%, rgba(197, 214, 216, 0.9) 100%);
  border-radius: 10px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
}

.logout {
  position: relative;
  bottom: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% auto 5%;
  grid-template-columns: 350px auto 5%;
  grid-template-areas: "a b b" "a b b" "a b b";
}

.wrapper .header {
  grid-area: a;
  background-color: #fff;
  width: 350px;
  height: 100%;
  position: fixed;
}

.wrapper .header .navbar {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.wrapper .header .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 80px 80px;
}

.wrapper .header .navbar .logo img {
  width: 130px;
  height: 130px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.wrapper .header .navbar .bottom {
  width: 100%;
}

.wrapper .header .navbar .bottom .colLogo {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.wrapper .header .navbar .bottom .colLogo .main--text {
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
}

.wrapper .header .navbar .bottom .colLogo .sub--text {
  padding: 10px;
  font-weight: 300;
  color: #b6bdc3;
  font-size: 0.9rem;
}

.wrapper .header .navbar .bottom .social {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 25px;
}

.wrapper .header .navbar .bottom .social .icon {
  color: #4e575f;
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: #4e575f solid 1px;
  margin: 0 8px;
  opacity: 0.6;
  padding: 5px;
  transition: color 0.5s, background-color 0.5s;
}

.wrapper .header .navbar .bottom .social .icon:hover {
  color: #F5F3F4;
  background-color: #000;
}

.wrapper .header .navbar .bottom .about {
  width: 100%;
  transition: all 0.4s;
}

.wrapper .header .navbar .bottom .about .aboutus {
  background: #000;
  padding: 50px 35px;
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
}

.wrapper .header .navbar .bottom .about .aboutus span {
  pointer-events: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: #F5F3F4;
}

.wrapper .header .navbar .bottom .about .hover:nth-child(1) :hover {
  transition: background-color 0.5s;
  background-color: #9ac2c7;
}

.wrapper .header .navbar .bottom .about .hover:nth-child(1) :hover span {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: #4e575f;
}

.wrapper .header .navbar .bottom .about .hover:nth-child(2) :hover {
  transition: background-color 0.5s;
  background-color: #73B2BD;
}

.wrapper .header .navbar .bottom .about .hover:nth-child(2) :hover span {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: #4e575f;
}

.wrapper .main {
  grid-area: b;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  flex-flow: row wrap;
}

.wrapper .main .post {
  border-radius: 5px;
  width: 300px;
  height: 300px;
  margin: 16px;
  border-bottom: #4e575f solid 5px;
  background-color: #fff;
  overflow: hidden;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.wrapper .main .post .image {
  width: 100%;
  height: 60%;
  text-align: center;
}

.wrapper .main .post .image img {
  width: auto;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.7s;
}

.wrapper .main .post .text {
  padding: 20px;
}

.wrapper .main .post .text .title {
  margin-bottom: 24px;
}

.wrapper .main .post .text .title h3 {
  color: #4e575f;
  letter-spacing: 2px;
}

.wrapper .main .post .text .date {
  display: flex;
  justify-content: flex-end;
}

.wrapper .main .post:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.wrapper .main .post:hover img {
  transform: scale(1.1);
}

.page {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.page .image {
  text-align: center;
  padding: 10vh 0;
}

.page .image img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 350px;
}

.page .text {
  margin: 32px;
  margin-bottom: 60px;
  line-height: 1.5rem;
}

.page .text h2,
.page .text p {
  color: #000;
  padding: 16px 0;
}
/*# sourceMappingURL=main.css.map */