/*-------------------------*/

/* $Catalog 
---------------------------*/

/** 
 * Globel
 * Elements
 * Header
 * About
 * Footer
**/

/*-------------------------*/

/* $Globel
---------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@mixin size($w,
$h) {
    width: $w;
    height: $h;
}

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

@mixin flexLeft() {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

@mixin background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

$color-text--dark:#4e575f;
$color-text:#73B2BD;
$color-white:#F5F3F4;
$color-secondary:rgb(154,
194,
199);
$color-bg:#F5F5F5;
$dashboardNav:#434446;
* {
    box-sizing: border-box;
    color: $color-text;
}

body,
html {
    @include size(100%,
    100%);
    background-color: $color-bg;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea {
    resize: none;
    display: inline-block;
    border: 0px solid lighten($color-bg, 20);
    background-color: lighten($color-white, 20);
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    &:focus {
        outline: 0;
        border: $color-secondary 1px solid;
    }
    &::-webkit-input-placeholder {
        color: lighten($color-text--dark, 30);
        font-size: 0.8rem;
    }
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    transition: background-color .5s;
    &:hover {
        background-color: $color-text;
        color: $color-white;
    }
}

/*-------------------------*/

/* $dashboard
---------------------------*/

.dashboard {
    @include size(100%,
    100%);
    display: grid;
    grid-template-rows: 30% auto 5%;
    grid-template-columns: 30% auto 5%;
    grid-template-areas: "a b b" "a b b" "a c c";
    .header {
        @include size(100%,
        100%);
        grid-area: a; // background-color: $dashboardNav;
        @include flexCenter();
        justify-content: flex-start;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        transition: all .3s;
     
        .nav {
            @include size(100%,
            auto);
            @include flexCenter();
            background-color: $dashboardNav;
            display: flex;
            flex-flow: row wrap;
            font-size: 1.1rem;
            padding: 16px;
            p {
                color: $color-white;
                padding: 8px;
            }
        }
        .list {
            margin-top: 16px;
            padding: 16px;
            font-size: 1rem;
            ul {
                cursor: pointer;
                margin: 8px;
                margin-bottom: 16px;
                color: $dashboardNav;
                .item {
                    display: none;
                    li {
                        font-size: 0.9rem;
                        color: $color-text;
                        margin: 8px;
                    }
                    a:nth-child(1) {
                        margin-top: 12px;
                    }
                    li:hover {
                        color: $color-text--dark;
                    }
                }
                .item--open {
                    display: flex;
                    flex-flow: column wrap;
                }
            }
        }
    }
    .main {
        @include flexCenter();
        grid-area: b; // background-color: $color-primary;
        color: #31363a;
        margin: 16px;
        form {
            display: flex;
            flex-flow: column wrap;
            input,
            textarea {
                margin: 8px;
                padding: 8px;
                line-height: 1.5rem;
            }
            label {
                margin-left: 8px;
                padding-left: 8px;
                margin-top: 8px;
            }
        }
        .list {
            display: flex;
            flex-flow: column wrap;
            .list--item {
                border: 1px $color-secondary solid;
                border-radius: 20px;
                margin: 16px;
                padding: 32px;
                label,
                input,
                a {
                    padding: 8px;
                }
                a:hover {
                    color: $color-text--dark;
                }
            }
        }
    }
    .footer {
        grid-area: c;
        @include flexCenter();
        border-top: lighten($color-text, 20) 1px solid;
        font-size: 0.8rem;
        p {
            color: lighten($color-text, 20);
        }
    }
}

.login {
    @include size(100%,
    100%);
    @include flexCenter();
    h2{
        margin-bottom: 16px;
    }
    .main {
        @include flexCenter();
        @include size(30%,
        30%);
        min-width: 500px;
        background: -webkit-linear-gradient(top, rgba(136, 193, 203, 1) 0%, rgba(179, 213, 219, 0.91) 88%, rgba(196, 214, 216, 0.9) 99%, rgba(197, 214, 216, 0.9) 100%);
        border-radius: 10px;
        box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
    }
}

.logout {
    position: relative;
    bottom: 0;
}

.wrapper {
    @include size(100%,
    100%);
    display: grid;
    grid-template-rows: 30% auto 5%;
    grid-template-columns: 350px auto 5%;
    grid-template-areas: "a b b" "a b b" "a b b";
    .header {
        grid-area: a;
        background-color: #fff;
        @include size(350px,
        100%);
        position: fixed;
        .navbar {
            @include size(100%,
            100vh);
            display: flex;
            justify-content: space-between;
            flex-flow: column nowrap;
            .logo {
                @include flexCenter();
                flex: 1;
                @include size(100%,
                100%);
                padding: 80px 80px;
                img {
                    @include size(130px,
                    130px);
                    @include background();
                    border-radius: 20px;
                }
            }
            .bottom {
                width: 100%;
                .colLogo {
                    padding: 0 16px;
                    @include flexCenter();
                    .main--text {
                        color: #000;
                        font-weight: 700;
                        font-size: 1.5rem;
                    }
                    .sub--text {
                        padding: 10px;
                        font-weight: 300;
                        color: lighten($color-text--dark, 40);
                        font-size: 0.9rem;
                    }
                }
                .social {
                    @include size(100%,
                    100%);
                    display: block;
                    text-align: center;
                    padding: 16px;
                    padding-bottom: 0;
                    margin-bottom: 25px;
                    .icon {
                        color: #4e575f;
                        @include size(28px,
                        28px);
                        @include background();
                        border-radius: 50%;
                        border: $color-text--dark solid 1px;
                        margin: 0 8px;
                        opacity: 0.6; // background-color: #73B2BD;
                        padding: 5px;
                        transition: color 0.5s, background-color 0.5s;
                        &:hover {
                            color: $color-white;
                            background-color: #000;
                        }
                    }
                }
                .about {
                    width: 100%;
                    transition: all 0.4s;
                    .aboutus {
                        background: #000;
                        padding: 50px 35px;
                        border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
                        span {
                            pointer-events: none;
                            font-size: 1.4rem;
                            @include flexCenter();
                            color: $color-white;
                        }
                    }
                    .hover:nth-child(1) :hover {
                        transition: background-color 0.5s;
                        background-color: $color-secondary;
                        span {
                            font-size: 1.4rem;
                            @include flexCenter();
                            color: $color-text--dark;
                        }
                    }
                    .hover:nth-child(2) :hover {
                        transition: background-color 0.5s;
                        background-color: $color-text;
                        span {
                            font-size: 1.4rem;
                            @include flexCenter();
                            color: $color-text--dark;
                        }
                    }
                }
            }
        }
    }
    .main {
        grid-area: b;
        background-color: lighten($color-bg, 2);
        @include flexCenter();
        flex-flow: row wrap;
        .post {
            border-radius: 5px;
            @include size(300px,
            300px);
            margin: 16px;
            border-bottom: $color-text--dark solid 5px;
            background-color: #fff;
            overflow: hidden;
            transition: box-shadow 0.5s;
            cursor: pointer;
            .image {
                @include size(100%,
                60%);
                text-align: center;
                img {
                    @include size(auto,
                    100%);
                    @include background();
                    transition: transform 0.7s;
                }
            }
            .text {
                .title {
                    margin-bottom: 24px;
                    h3 {
                        color: $color-text--dark;
                        letter-spacing: 2px;
                    }
                }
                padding: 20px;
                .date {
                    display: flex;
                    justify-content: flex-end;
                }
            }
            &:hover {
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.page {
    @include size(100%,
    100%);
    padding: 16px;
    @include flexCenter();
    .image {
        text-align: center;
        padding: 10vh 0;
        img {
            @include background();
            @include size(auto,
            350px);
        }
    }
    .text {
        
        margin: 32px;
        margin-bottom: 60px;
        line-height: 1.5rem;
        h2,
        p {
            color: #000;
            padding: 16px 0;
        }
    }
}