<!DOCTYPE html>

<html lang="en">


<% include ../head %>


    <body>
        <div class="dashboard">
            <% include header %>
                <section class="main">
                    <p>歡迎來到管理頁面</p>
                </section>

                <% include ../footer %>


        </div>
        <script src="/public/js/main.js"></script>
    </body>