<!DOCTYPE html>

<html lang="en">


<% include ../head %>


    <body>
        <div class="dashboard">
            <% include header %>
                <section class="main">
                  
                    <form id="form" method="POST" action="/dashboard/edit">
                    <label for="name">文章名稱</label>
                        <input type="hidden" name="id" id="" value="<%= data.id %>">
                        <input type="text" name="name" id="name" value="<%= data.name %>">
                        <label for="name">文章內容</label>
                        <textarea type="text" name="context" id="" cols="30" rows="10" value="<%= data.context %>"><%= data.context %></textarea>
                        <input class="btn" value="送出" type="submit">
                    </form>


                </section>

                <% include ../footer %>


        </div>
        <script src="/public/js/main.js"></script>
    </body>