<!DOCTYPE html>

<html lang="en">


<% include ../head %>


    <body>
        <div class="dashboard">
                <% include header %>
            <section class="main">
<form method="POST" action="/dashboard/article/post">
                    <input type="text" name="name" id="">
                    <textarea name="textarea" id="" cols="30" rows="10"></textarea>
                    <input class="btn" type="submit" value="登入">
                </form>
            </section>

            <footer class="footer">
                <p>123</p>
            </footer>

        </div>
        <script src="/public/js/main.js"></script>
    </body>