

<!DOCTYPE html>

<html lang="en">


<% include ../head %>

    <body>
        <div class="dashboard">
                <% include header %>
               
            <section class="main">
                  
                    <form class="inner login" name="form" method="POST" action="/dashboard/signup">
                        <p class="userName">
                                <%= message %>
                        </p>
                        <input class="input" name="username" placeholder="帳號" />
                        <input class="input" name="password" type="password" placeholder="密碼" />
                        <input class="btn" type="submit" value="註冊">
                    </form>
    
            </section>

            <% include ../footer %>

        </div>
        <script src="/public/js/main.js"></script>
    </body>

            